* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(20, 20, 20);
    color: #f1f1f1;
}

#main {
    position: relative;
    overflow: hidden;
}

#page {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page1 {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page2 {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page3 {
    position: relative;
    height: 100vh;
    width: 100vw;
}

canvas {
    position: relative;
    z-index: 9;
    max-height: 100vh;
    max-width: 100vw;
}

#loop {
    display: flex;
    position: absolute;
    top: 30%;
    height: 25%;
    width: 100%;
    font-size: 100px;
    white-space: nowrap;

}

#loop h1 {
    font-weight: 400;
    animation-name: anim;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color: #f1f1f1;
}

#loop h1 span {
    -webkit-text-stroke: 1.2px #f1f1f1;
    color: transparent;
    font-weight: 500;
}

@keyframes anim {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    width: 100%;
    position: fixed;
    z-index: 9;
    padding: 0px 30px;
    color: #f1f1f1;
}

#nav h3 {
    font-size: 22px;
    font-weight: 600;
    color: #f1f1f1;
}

#nav button {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #f1f1f1;
    color: #000;
    border: none;
}

#page h3 {
    position: absolute;
    top: 55%;
    font-weight: 400;
    color: #9e9e9e;
    left: 7%;
}

#page h4 {
    position: absolute;
    top: 62%;
    left: 25%;
    color: #9e9e9e;
    font-weight: 700;
}

#page1 #right-text {
    position: absolute;
    top: 30%;
    left: 10%;
}

#page1 #right-text h3 {
    font-weight: 400;
    color: #9e9e9e;
}

#page1 #right-text h1 {
    font-size: 50px;
    line-height: 1.5;
}

#page1 #left-text {
    position: absolute;
    top: 50%;
    right: 10%;
    text-align: end;
}

#page1 #left-text h1 {
    font-size: 50px;
    line-height: 1.5;
}

#page1 #left-text h3 {
    font-weight: 400;
    color: #9e9e9e;
}

#page2 #text1 {
    position: absolute;
    top: 40%;
    left: 10%;
}

#page2 #text1 h3 {
    font-weight: 400;
    color: #9e9e9e;
}

#page2 #text1 h1 {
    margin-top: 15px;
    font-size: 60px;
    line-height: 1.5;
}

#page2 #text2 {
    position: absolute;
    top: 55%;
    right: 10%;
    text-align: end;
}

#page2 #text2 p {
    color: #9e9e9e;
    font-weight: 400;
}

#page3 #text3 {
    position: absolute;
    top: 30%;
    left: 10%;
}

#page3 #text3 p {
    color: #9e9e9e;
    font-weight: 400;
    line-height: 1.5;
}

#page3 #text4 {
    position: absolute;
    top: 50%;
    right: 10%;
    text-align: end;
}

#page3 #text4 h3 {
    font-weight: 400;
    color: #9e9e9e;
}

#page3 #text4 h1 {
    margin-top: 15px;
    font-size: 60px;
    line-height: 1.5;
}

#footer {
    position: relative;
    z-index: 9;
}

#pge1 {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#pge1 #pge1-text {
    position: absolute;
    top: 20%;
    left: 41%;
}

#pge1 #pge1-text h1 {
    font-size: 65px;
}

#pge1 #pge1-text h4 {
    font-size: 14px;
}

#pge1 #boxes #box-part1 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 38%;
    left: 14%;
    gap: 1%;
}

#pge1 #boxes #box-part1 .box1 {
    width: 24vw;
    height: 18vh;
    background-color: #f1f1f1;
    border-radius: 10px;
}

#pge1 .box1 .box1-text {
    margin-left: 30px;
    margin-top: 25px;
    color: rgb(20, 20, 20);
}

#pge1 #boxes #box-part1 .box1 h4 {
    font-size: 14px;
    margin-top: 14px;
    font-weight: 400;
}

#pge1 #boxes #box-part1 .box1 h2 {
    font-size: 19px;
    margin-top: 7px;
    font-weight: 600;
    letter-spacing: 1px;
}

#pge1 #boxes #box-part1 .box2 {
    width: 24vw;
    height: 18vh;
    background-color: #f1f1f1;
    border-radius: 10px;
}

#pge1 .box2 .box2-text {
    margin-left: 30px;
    margin-top: 25px;
    color: rgb(20, 20, 20);
}

#pge1 #boxes #box-part1 .box2 h4 {
    font-size: 14px;
    margin-top: 14px;
    font-weight: 400;
}

#pge1 #boxes #box-part1 .box2 h2 {
    font-size: 19px;
    margin-top: 7px;
    font-weight: 600;
    letter-spacing: 1px;
}

#pge1 #boxes #box-part1 .box3 {
    width: 24vw;
    height: 18vh;
    background-color: #f1f1f1;
    border-radius: 10px;
}

#pge1 .box3 .box3-text {
    margin-left: 30px;
    margin-top: 25px;
    color: rgb(20, 20, 20);
}

#pge1 #boxes #box-part1 .box3 h4 {
    font-size: 14px;
    margin-top: 14px;
    font-weight: 400;
}

#pge1 #boxes #box-part1 .box3 h2 {
    font-size: 19px;
    margin-top: 7px;
    font-weight: 600;
    letter-spacing: 1px;
}

#pge1 #box-part2 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 57%;
    left: 14%;
    gap: 1%;
}

#pge1 #box-part2 .box4 {
    width: 24vw;
    height: 25vh;
    background-color: #f1f1f1;
    border-radius: 10px;
}

#pge1 .box4 .box4-text {
    margin-left: 30px;
    margin-top: 25px;
    color: rgb(20, 20, 20);
}

#pge1 #box-part2 .box4 h4 {
    font-size: 14px;
    margin-top: 14px;
    font-weight: 400;
}

#pge1 #box-part2 .box4 h5 {
    font-size: 14px;
    margin-top: 14px;
    font-weight: 400;
    line-height: 20px;
}

#pge1 #box-part2 .box4 h2 {
    font-size: 19px;
    margin-top: 7px;
    font-weight: 600;
    letter-spacing: 1px;
}

#pge1 #box-part2 .box5 {
    width: 24vw;
    height: 25vh;
    background-color: #f1f1f1;
    border-radius: 10px;
}

#pge1 .box5 .box5-text {
    margin-left: 30px;
    margin-top: 25px;
    color: rgb(20, 20, 20);
}

#pge1 #box-part2 .box5 h4 {
    font-size: 14px;
    margin-top: 14px;
    font-weight: 400;
}

#pge1 #box-part2 .box5 h5 {
    font-size: 14px;
    margin-top: 14px;
    font-weight: 400;
    line-height: 20px;
}

#pge1 #box-part2 .box5 h2 {
    font-size: 19px;
    margin-top: 7px;
    font-weight: 600;
    letter-spacing: 1px;
}

#pge1 #box-part2 .box6 {
    width: 24vw;
    height: 25vh;
    background-color: #f1f1f1;
    border-radius: 10px;
}

#pge1 .box6 .box6-text {
    margin-left: 30px;
    margin-top: 25px;
    color: rgb(20, 20, 20);
}

#pge1 #box-part2 .box6 h4 {
    font-size: 14px;
    margin-top: 14px;
    font-weight: 400;
}

#pge1 #box-part2 .box6 h5 {
    font-size: 14px;
    margin-top: 14px;
    font-weight: 400;
    line-height: 20px;
}

#pge1 #box-part2 .box6 h2 {
    font-size: 19px;
    margin-top: 7px;
    font-weight: 600;
    letter-spacing: 1px;
}

#pge2 {
    position: relative;
    height: 100vh;
    width: 100vw;
    border-top: 2px solid #f1f1f1;
    border-top-style: dashed;
}

#pge2 #pge2-text {
    position: absolute;
    top: 21%;
    left: 34%;
}

#pge2 #pge2-text h1 {
    font-size: 65px;
}

#pge2 #pge2-text h4 {
    display: flex;
    justify-content: center;
    font-size: 14px;
}

#pge2 #anim1,
#anim3 {
    display: flex;
    position: absolute;
    top: 40%;
    height: 29%;
    width: 100%;
    font-size: 70px;
    white-space: nowrap;
}

#pge2 #anim1,
#anim3 h1 {
    font-weight: 900;
    animation-name: anim;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#pge2 #anim1,
#anim3 h1 {
    -webkit-text-stroke: 2px #f1f1f1;
    color: transparent;
    font-weight: 600;
}

@keyframes anim {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

#pge2 #anim3 {
    position: absolute;
    top: 67%;
}


#pge2 #anim2 {
    display: flex;
    position: absolute;
    top: 53%;
    height: 29%;
    width: 100%;
    font-size: 70px;
    white-space: nowrap;
}

#pge2 #anim2 h1 {
    font-weight: 900;
    animation-name: anime;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#pge2 #anim2 h1 {
    -webkit-text-stroke: 2px #f1f1f1;
    color: transparent;
    font-weight: 600;
}

@keyframes anime {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

#pge2 #img {
    height: 130%;
    width: 600px;
    background-image: url("CyberFiction-Ryan.png");
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 9;
    object-position: center;
    position: absolute;
    top: 35%;
    left: 34%;
}

#pge3 {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#pge3 #pge3-text1 {
    position: absolute;
    top: 2%;
    left: 43.5%;
}

#pge3 #pge3-text1 h3 {
    font-size: 14.4px;
    font-weight: 500;
    margin-left: 1.5%;
    margin-top: 1.9%;
}

#pge3 #pge3-text1 p {
    font-size: 14.4px;
    font-weight: 500;
    margin-left: -26%;
    margin-top: 2%;
}

#pge3 #pge3-text1 p {
    font-size: 14.4px;
}

#pge3 #line {
    height: 18vh;
    width: 50vw;
    border-right: 1px solid #f1f1f1;
    position: absolute;
    top: 29%;
}

#pge3 #pge3-text2 {
    position: absolute;
    top: 55%;
    left: 43.5%;
}

#pge3 #pge3-text2 h3 {
    font-size: 14.4px;
    font-weight: 600;
}

#pge3 #pge3-text2 h1 {
    font-size: 64px;
    margin-left: -10%;
}

#pge3 #pge3-text2 h1 span {
    margin-left: -23%;
}

#pge3 #pge3-text2 h1 section {
    margin-left: -33%;
}

#pge3 #pge3-text2 p {
    line-height: 120%;
    margin-left: -32%;
    margin-top: 1%;
    font-size: 14.4px;
    font-weight: 500;
}

#pge4 {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#pge4 #line {
    height: 18vh;
    width: 50vw;
    border-right: 1px solid #f1f1f1;
    position: absolute;
    top: 9%;
}

#pge4 #buttons {
    display: flex;
    position: absolute;
    top: 36%;
    left: 28%;

}

#pge4 #buttons button {
    height: 4vh;
    width: 11vw;
    border-radius: 50px;
    margin-right: 1%;
}

#pge4 #buttons button:hover {
    background-color: #f1f1f1;
    color: black;
}

#pge4 #pge4-text1 {
    position: absolute;
    top: 45%;
    left: 8%;
    font-size: 110px;
    line-height: 180%;
}

#pge4 #pge4-text1 h1 span {
    position: absolute;
    left: 13%;
}

#pge4 #pge4-text1 h1 {
    -webkit-text-stroke: 3px #f1f1f1;
    color: transparent;
}


#pge4 #pge4-icon {
    position: absolute;
    top: 90%;
    left: 49%;
}

#pge4 #pge4-icon i {
    font-size: 34px;
}

#pge4 #pge4-text {
    position: absolute;
    bottom: 4%;
    left: 46%;
}

#btn {
    position: relative;
    width: 300px;
    position: absolute;
    left: 83%;
    top: 89%;
}

#btn #btn-img {
    position: absolute;
    display: flex;
    left: -10%;
    bottom: 0;
    z-index: 2;
}

#btn #btn-img {
    height: 11vh;
}

.btn1 {
    border: none;
    display: block;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 0.7rem;
    background-color: #363535;
    padding: 22px 40px 22px 40px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
    cursor: pointer;
}

.btn1 span {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
}

.btn1:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 470%;
    width: 140%;
    background: #15b2e5;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: translateX(-110%) translateY(-25%) rotate(45deg);
    transform: translateX(-110%) translateY(-25%) rotate(45deg);
}

.btn1:hover:after  {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}